title{
    font-size:500%;
}
#carousel-example-generic{
height: 400px;
}
@font-face{
    font-family: rubik;
    src:url(Rubik-Regular.ttf);
}
body {
  padding-top: 50px;
  	background-color: #D62F01;
    border-color: #D62F01;
     overflow-x: hidden;
     max-width: 100%;
    font-family: rubik;
    text-align: center;


}

.navbar {
    background-color: #D62F01;
    border-color: #D62F01;
}

.navbar-nav li a {
        color: #FFFFFF;
    }


    .navbar-brand {
        color: #FFFFFF;
    }
            .section {
                height: 300px;
            }

            .section h1 {
                color: white;
}


.donate h3 {
	color: #FFFFFF;
            }


            .grey-light {
                background-color: #f2f2f2;
            }

            .orange {
                background-color: #EF5330;
            }


            .footer {

                background-color: black;
                border-color: #D62F01;
                padding-top: 20px;
                padding-bottom: 20px;
                width: 100%;
  
                color:white;
                text-align: center;

            }

            .sponsor {
                max-width: 100px;
                opacity: 0.35;
                display: inline-block;
                margin-right: 1em;
                margin-bottom: 0.5em;
            }
        img{
            max-width: 100% ;
        }

        #social ul {
            clear: left;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            left: 50% ;
            text-align: center;
        }

        #social li {
            display: block;
            float: left;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            right: 23% ;
        }
        
#social li:hover{
    transform:scale(1.6) rotate(30deg);
}        

 

        #social ul li img {
            margin: 10px;
            height: 25px;
        }

        #location-list {
            margin-top: 75px;
            background-color: #FFFFFF;
        }

        p {

        }
    #location{
        background-color: #D62F01;
    }
    #location:hover{
        background-color: #FF4500;
    }
     #menu{
        background-color: #D62F01;
    }
    #menu:hover{
        background-color: #FF4500;
    }
   #main{
       background-color: #D62F01;
    }
    #main:hover{
        background-color: #FF4500;
    }
   
   *,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#burger {
    display: inline-block;
    position: relative;
    margin: 1em;
    padding: 0.67em;
    overflow: hidden;
    text-decoration: none;
    font-size: 1.36em;
    outline: none;
    color: #FFF;
    background: transparent;
    font-family: 'raleway', sans-serif;
}

#burger span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

#burger:before,
#burger:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

#burger:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

#burger:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

#burger:hover span,
#burger:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}


#burger:hover:before,
#burger:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .3s;
}

#burger:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
#signUp{
    color:black;
    margin:10px;
}
.socialBox{
    
}

